<div class="journey-home-header">
    <div class="journey-home-header-left">
        @RenderSection("HeaderLeft", false)
    </div>
    <div class="journey-home-header-right">
        @RenderSection("HeaderRight", false)
    </div>
</div>

@RenderBody()

