body {
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif; }

#journey-shell {
  background-color: #202020;
  color: #888; }

#journey-side-bar {
  background-color: #202020;
  border-left: 1px solid black;
  width: 50px; }
  #journey-side-bar ul {
    width: 66px;
    padding-top: 10px; }
    #journey-side-bar ul li {
      border-bottom: 2px groove #333;
      border-top: 2px groove #333;
      font-size: 0.5em;
      height: 50px; }
      #journey-side-bar ul li:hover {
        background-color: #363636; }
      #journey-side-bar ul li img {
        width: 25px;
        height: 25px;
        margin-left: 12.5px;
        margin-top: 6.25px; }
      #journey-side-bar ul li div.journey-title {
        margin-top: 4px;
        color: #aaa;
        width: 50px;
        font-size: 1em; }
  #journey-side-bar #connection-warning-area #bad-connection-indicator {
    font-size: 1em;
    color: red; }

#connection-warning-area {
  width: 66px; }

#journey-popout {
  background-color: #363636;
  opacity: .97;
  left: 101px; }
  #journey-popout div.journey-popout-control {
    font-size: 1.5em; }
    #journey-popout div.journey-popout-control div.journey-popout-close {
      font-size: .9em;
      font-weight: bold; }
      #journey-popout div.journey-popout-control div.journey-popout-close:hover {
        color: #ddd;
        cursor: pointer;
        background-color: #202020;
        background-color: rgba(255, 255, 255, 0.1);
        font-weight: bolder; }

#journey-main-content {
  left: 50px; }
  #journey-main-content h1 {
    font-weight: 400; }
  #journey-main-content h2 {
    font-weight: 400; }
  #journey-main-content h3 {
    font-weight: 400; }
  #journey-main-content h4 {
    font-weight: 400; }
  #journey-main-content div.journey-page {
    border-left: 0 solid #888;
    border-right: 0 solid #888; }
    #journey-main-content div.journey-page div.journey-page-content div.journey-page-body {
      background: linear-gradient(to right, #444, #666);
      color: #202020; }
    #journey-main-content div.journey-page div.journey-page-content div.journey-page-header div.journey-title {
      font-size: 1.5em;
      color: #ddd; }
    #journey-main-content div.journey-page div.journey-page-content div.journey-page-header div.journey-subtitle {
      font-size: 1.1em;
      color: #ccc; }
  #journey-main-content div.journey-page-control {
    background-color: black; }
    #journey-main-content div.journey-page-control div.journey-tool-close:hover {
      color: #ddd;
      cursor: pointer;
      background-color: #202020;
      background-color: rgba(255, 255, 255, 0.1);
      font-weight: bolder; }
  #journey-main-content div.journey-page-content {
    background: linear-gradient(to right, #333, #555); }
  #journey-main-content #journey-home-area {
    background: linear-gradient(to right, #469, #57a); }

div.journey-home-header {
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.5); }
  div.journey-home-header a.journey-avatar-menu-header div.journey-avatar-text {
    font-size: .7em; }

div.journey-avatar-text {
  color: white; }

div.journey-avatar-timezone {
  font-size: .9em; }

.spinner > div {
  background-color: #666; }

