
@{
    Layout = "~/Views/Shared/_JourneyHome.cshtml";
}
@section HeaderLeft{
    <h1 style="margin-top:35px;">Admin</h1>
}

@section HeaderRight{
}

<div data-journey-script="home" id="home" style="width:400px;">
    <div>Set admin options here.</div>

</div>