
@{
    Layout = "~/Views/Shared/_JourneyHome.cshtml";
}
@section HeaderLeft{
    <h1 style="margin-top:35px;">Documentation</h1>
}

@section HeaderRight{
    <div class="btn-group pull-right">
        <a class="btn btn-default" href="~/journey/logs">Logs</a>
    </div>
}

<div data-journey-script="home" id="home" style="width:700px;">
    <div class="panel panel-default">
        <div class="panel-heading">The full story</div>
        <div class="panel-body">
            <p>
                Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
            </p>
            <p>
                Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
            </p>
            <p>
                Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.
            </p>
        </div>
    </div>
    

</div>