
@{
    Layout = "~/Views/Shared/_JourneyHome.cshtml";
}
@section HeaderLeft{
    <h1 style="margin-top:35px;">Home</h1>
}

@section HeaderRight{
    <div class="btn-group pull-right">
        <a class="btn btn-default" href="~/journey/logs">Logs</a>
    </div>
}

<div data-journey-script="home" id="home" style="width:400px;">

    <div class="row" style="margin-bottom: 20px;">
        @Html.ActionLink("View some content with alerts for when items load...", "Content", null, new { @class = "btn btn-default" })
    </div>

    <div class="row" style="margin-bottom: 20px;">
        @Html.ActionLink("Editor with Submit", "Editor", null, new { @class = "btn btn-warning" })
    </div>
    <div class="row" style="margin-bottom: 20px;">
        <a class="btn btn-default" href="/journey/logs|/journey/logs">Open two logs.</a>
    </div>





</div>