
@{
    ViewBag.Title = "Logs";
    Layout = "~/Views/Shared/_JourneyPage.cshtml";
}


@section Header{
    <span>Logs</span>
    <a class="btn btn-default" href="~/journey/logs" style="margin-left:300px;">Even More Logs!</a>
}




<div class="journey-page-body" id="logs" data-journey-script="logs" style="width:600px;">
    <div class="panel panel-default">
        <div class="panel-heading">Here are some logs</div>
        <ul>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
            <li>There are lots of log entries</li>
            <li>So that scrolling vertically can be demonstrated</li>
        </ul>
    
    </div>
</div>