<div id="NotificationsContent" class="journey-data-content">
    <div class="" style="overflow: auto; height:100%; margin-right:-15px;padding-right: 12px;">
        <div class="notifications-list">
            <div class="alert" role="alert" style="margin-bottom:4px; padding-top:8px; padding-bottom:8px;">
                <div class="row">
                    <div class="col-md-2">
                        <img src="~/Content/img/notification.png" style="width: 25px; height: 25px;" />
                    </div>
                    <div class="col-md-7">
                        <div style="font-weight:bold;">Test</div>
                        <div>Notification #1</div>
                    </div>
                    <div class="col-md-3">
                        <button class="pull-right btn btn-default btn-xs">
                            <span class=" glyphicon glyphicon-arrow-right"></span>
                            <span>Edit</span>
                        </button>
                        <button class="btn btn-success btn-xs pull-right">
                            <span class=" glyphicon glyphicon-check"></span>
                            <span >Dismiss</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>