<div id="Test" class="journey-data-content">

    <div class="panel panel-default">
        <div class="panel-heading">Testing</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <label class="pi-server-name" style="color:black; "></label>
                </div>
            </div>
        </div>
    </div>

</div>