
@{
    Layout = "~/Views/Shared/_JourneyHome.cshtml";
}
@section HeaderLeft{
    <h1 style="margin-top:35px;">User</h1>
}

@section HeaderRight{
}

<div data-journey-script="user" id="user" style="width:200px;">
    <div>Information about the user.</div>

</div>